* {
  margin: 0;
  padding: 0;
}

#constainer {
  width: 700px;
	display: flex;
}

#space, #log {
	width: 400px;
	height: 400px;
	border: 1px solid gray;
}
#choosedMonth, #monthIs {
	display: inline-block;
	margin-bottom: 20px;
}

#buttonLeft, #buttonRight {
  width: 30px;
}

#weekdaysName, #daysMonth {
	display: flex;
	text-align: center;
	flex-wrap: wrap;

}

.divWeekday, .divEmptyDay, .divDay {
	width: 13%;
	height: 30px;
	border: 1px solid gray;
}

/*#container {
  width: 700px;
  display: flex;

}
#space {
  width: 500px;
  height: 398px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu, #log {
  width: 200px;
  height: 400px;
  background-color: lightgray;
}
#Calendar {
  width: 500px;
}

#divHeadBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#monthYear {
  margin: 0 20px;
}

#divCalendar {
  width: 400px;
  height: 200px;
  border: 1px solid gray;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.divDayweek, .divEmptyCell, .divCell  {
  width: 13%;
  text-align: center;
}
*/
