@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400');

 /* @font-face {
  font-family: Oxygen;
  src: url(fonts/oxygen.ttf);
  } */
  /*colors
  #448aff blue accent-2  -- button*/
  * {
    margin: 0;
    padding: 0;
    font-family: 'oxygen', 'Arial', sans-serif;
    /* font-family: 'Oxygen', sans-serif; */
  }
  body {
    background: url('img/bg.jpg');
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
  }

#constainerSpaceLog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  margin: 0;
}
  #space, #log {
    width: 400px;
    height: 440px;
  }
  #space {
    background: rgb(74, 80, 98, 0.9);
  }
  #log {
    background: rgb(255, 255, 255, 0.9);
  }
  h1, #todayIs, #monthIs, #buttonLeft, #showLog {
    margin-left: 10px;
  }
  #todayIs {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #choosedMonth, #monthIs {
    display: inline-block;
    margin-bottom: 10px;
  }
 #weekdaysName, #daysMonth {
    display: flex;
    text-align: center;
    line-height: 240%;
    flex-wrap: wrap;
  }
  .divWeekday, .divEmptyDay, .divDay, .divEmptyDay2 {
    width: 13%;
    height: 40px;
    margin: auto;
  }
  .divDay:hover {
    background-color: rgb(60, 131, 249, 0.6);
    border-radius: 20px;
    cursor: pointer;
  }
  .divDay:active {
    background-color: rgb(60, 131, 249, 0.4);
    border-radius: 20px;
    cursor: pointer;
  }
  @media (max-width: 800px) {
  }
nav {
  background-color: white;
  /* opacity: 0.2; */
  width: 50px;
  /* height: 50px; */
}
.background {
  background-color: #448aff;
  /* width: 60px; */
}
.circle {
  width: 50px;
  height: 50px;
}

#header {
  height: 64px;
  background-color: #039be5;
  display: flex;
  justify-content: space-between;

}
#userBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#userBar > a {
  margin-left: 10px;
  margin-right: 10px;
}
#menu {
  color: black;
  background-color: none;
}
