@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400');

 /* @font-face {
  font-family: Oxygen;
  src: url(fonts/oxygen.ttf);
  } */
  /*colors
  #448aff blue accent-2  -- button*/
* {
    margin: 0;
    padding: 0;
    font-family: 'oxygen', 'Arial', sans-serif;
    /* font-family: 'Oxygen', sans-serif; */
}
body {
    /* background: url('img/bg.jpg');
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed; */
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #039be5;
}
nav {
  background-color: transparent;
  box-shadow: none;
}
.sidenav {
  padding-top: 20px;
}

#menuFieldActiveFieldName {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
#activeFieldName > a {
  text-transform: uppercase;
  color: #eceff1;
  cursor: pointer;
}
#searchField {
  flex: 1 1 auto;
  text-align: center;
  margin: 0 20px;
}
#buttonsUserBarField {
  display: flex;
  align-items: center;
  flex-wrap:nowrap;
  margin: 0 20px;
}
#buttonsMenu {
  white-space: nowrap;
}

#buttonsMenu > a {
  color: black;
  margin: 0 6px;
  cursor: pointer;
}
#userBar > a > img {
  width: 60px;
  height: 60px;
}
/* #dropdown1.dropdown-content{
    top: -21px;
    width: 200px;
} */
#dropdown1 {
  /* color: lightgray; */
  background-color: white;
  width: 300px !important;
  top: 69.5px !important;
}
.dropdown_avatar {
  display: flex;
}

#dropdown1 .dropdown_avatar > a > img {
  width: 80px;
  height: 80px;
  margin: 10px;
}
.name_mail {
  margin: 10px;
}
#dropdown1 .waves-effect {
  color: gray;
}
.dropdown_buttons > a {
    margin: 10px;
    float: right;
}

/* activeField */

#activeField {
  width: 900px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 16px;
}

  #constainerSpaceLog {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
  }
  h1 {
    margin: 0;
  }
  #space, #log {
    width: 400px;
    height: 460px;
    background-color: #cfd8dc;
  }
  #log {
    overflow: scroll;
  }

  h1, #todayIs, #monthIs, #buttonLeft, #showLog {
    margin-left: 10px;
  }
  #todayIs {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #choosedMonth, #monthIs {
    display: inline-block;
    margin-bottom: 10px;
  }
 #weekdaysName, #daysMonth {
    display: flex;
    text-align: center;
    line-height: 240%;
    flex-wrap: wrap;
  }
  .divWeekday, .divEmptyDay, .divDay, .divEmptyDay2 {
    width: 13%;
    height: 40px;
    margin: auto;
    margin-bottom: 4px;
  }
  .divDay:hover {
    background-color: rgb(60, 131, 249, 0.6);
    border-radius: 20px;
    cursor: pointer;
  }
  .divDay:active {
    background-color: rgb(60, 131, 249, 0.4);
    border-radius: 20px;
    cursor: pointer;
  }


@media only screen and (min-width: 993px) {
  #menuField nav a.sidenav-trigger {
      display: block !important;
  }
  html {
    font-size: 14px;
}
}
@media only screen and (min-width: 1200px) {
  html {
      font-size: 14px;
  }
}

.backStyle {
  background-color: rgb(60,131,249,0.6);
  border: 1px solid rgb(60,131,249,0.9);
  border-radius: 20px;
}
